@{
    ViewData["Title"] = "Home Page";
}
@model HomeViewModel
    <div>
        <partial name="_Carousel" />
    </div>

<br />
<h2>List of Books</h2>
<br />
<div class="row">
    @foreach (var book in Model.AllBooks)
    {
        <div class="col-sm-4">
            <partial name="_BookCard" model="book" />
        </div>
        
    }
</div>
