@model BooksListViewModel


    <h1>@Model.CurrentCategory</h1>
    <div class="row">
        @foreach (var book in Model.Books)
        {
        <div class="col-md-4">
            <partial name="_BookCard" model="book" />
        </div>
        }
    </div>