@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using PagedList;
@using PagedList.Core;
@model BooksListViewModel

<div>
    <form method="get">
        <div class="input-group">
            <input class="form-control" asp-for="SearchTerm" />
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit" style="width:75px;">
                    Search
                </button>
            </div>
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                SORT BY
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" asp-action="List" asp-route="PriceSort">Price(Lowest First)</a>
                <a class="dropdown-item">Price(Highest First)</a>
                <a class="dropdown-item">Relevance</a>
            </div>
        </div>
    </form>
    
        
    
    
</div>

<h1>@Model.CurrentCategory</h1>
<div class="row">
    @if (Model.Books.Count() != 0)
    {
        foreach (var book in Model.Books)
        {
            <div class="col-sm-4">
                <partial name="_BookCard" model="book" />
            </div>
        }
    }
    else
    {
        <div style="text-align:center">
            <p> Not Found</p>
        </div>


    }
</div>
<ul class="pagination">
    <li class="page-item disabled">
        <a class="page-link" tabindex="-1">Previous</a>
    </li>
    @for (int i = 1; i <= Model.PageNo; i++)
    {

        <li class="page-item">
            <a class="page-link" href="@Url.Action("List",new { Page = i })">@i</a>
        </li>
        @*<li class="page-item active">
                <a class="page-link" asp-controller="Book" asp-action="List">2 <span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item"><a class="page-link" asp-controller="Book" asp-action="List">3</a></li>*@

    }
    <li class="page-item">
        <a class="page-link">Next</a>
    </li>

</ul>
