@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <partial name="_Carousel" />
</div>
<br />
<div class="form-group">
    <div class="item">Book ID</div>
    <input type="text" />
</div>
<div class="form-group">
    <div class="item">Name</div>
    <input type="text" />
</div>
<div class="form-group">
    <div class="item">Category</div>
    <input type="text" />
</div>
<div class="form-group">
    <div class="item">Price ($)</div>
    <input type="text" />
</div>
<div class="form-group">
    <div class="item">Author </div>
    <input type="text" />
</div>
<div>
    <input type="button" value="Add" />

</div>
