@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using OnlineBookStore.Areas.Admin.ViewModels
@model Category

            
            <option>@Model.CategoryName</option>
            


